/* Light mode */
@media (prefers-color-scheme: light) {
    body {
        background-color: #FCAD00;
        color: #473002;
    }
    
    .Monday {
        background-color: #FCAD00;
        color: #D41967;
    }
    .Tuesday {
        background-color: #EEBCBC;
        color: #D41967;
    }
    .Wednesday {
        background-color: #C6D92C;
        color: #455224;
    }
    .Thursday {
        background-color: #F26521;
        color: #87381C;
    }
    .Friday {
        background-color: #3AC5F3;
        color: #0F7095;
    }
    .Saturday {
        background-color: #8465A6;
        color: #2C1A3B;
    }
    .Sunday {
        background-color: #ED2024;
        color: #7A1214;
    }
}

/* Dark mode */
@media (prefers-color-scheme: dark) {
    body {
        background-color: #473002;
        color: #FCAD00;
    }
    
    .Monday {
        background-color: #473002;  /* Dark Yellow */
        color: #FCAD00;
    }
    .Tuesday {
        background-color: #D41967;  /* Dark Pink */
        color: #EEBCBC;
    }
    .Wednesday {
        background-color: #455224;  /* Dark Green */
        color: #C6D92C;
    }
    .Thursday {
        background-color: #87381C;  /* Dark Orange */
        color: #F26521;
    }
    .Friday {
        background-color: #0F7095;  /* Dark Blue */
        color: #3AC5F3;
    }
    .Saturday {
        background-color: #2C1A3B;  /* Dark Purple */
        color: #8465A6;
    }
    .Sunday {
        background-color: #7A1214;  /* Dark Red */
        color: #ED2024;
    }
}

.div {
    font-family: "SF Pro Text"
}

    
    @font-face {
        font-family:'SF Pro Thai';
        font-style:normal;
        font-weight:100;
        src:local('☺'), url("https://www.apple.com/wss/fonts/SF-Pro-TH/v3/SFProTH.woff2") format("woff2"), url("https://www.apple.com/wss/fonts/SF-Pro-TH/v3/SFProTH.woff2") format("woff"), url("/assets/fonts/sf-pro-display_ultralight.ttf") format("truetype");
    }
    
    @font-face {
        font-family:'SF Pro Text';
        font-style:normal;
        font-weight:100;
        src:local('☺'), url("/assets/fonts/sf-pro-text_ultralight.woff2") format("woff2"), url("/assets/fonts/sf-pro-text_ultralight.woff") format("woff"), url("/assets/fonts/sf-pro-text_ultralight.ttf") format("truetype");
        
    }
    
    @font-face {
        font-family:'SF Pro Text';
        font-style:italic;
        font-weight:100;
        src:local('☺'), url("/assets/fonts/sf-pro-text_ultralight-italic.woff2") format("woff2"), url("/assets/fonts/sf-pro-text_ultralight-italic.woff") format("woff"), url("/assets/fonts/sf-pro-text_ultralight-italic.ttf") format("truetype");
        
    }
    
    
    @font-face {
        font-family:'SF Pro Text';
        font-style:normal;
        font-weight:200;
        src:local('☺'), url("/assets/fonts/sf-pro-text_thin.woff2") format("woff2"), url("/assets/fonts/sf-pro-text_thin.woff") format("woff"), url("/assets/fonts/sf-pro-text_thin.ttf") format("truetype");
        
    }
    
    @font-face {
        font-family:'SF Pro Text';
        font-style:italic;
        font-weight:200;
        src:local('☺'), url("/assets/fonts/sf-pro-text_thin-italic.woff2") format("woff2"), url("/assets/fonts/sf-pro-text_thin-italic.woff") format("woff"), url("/assets/fonts/sf-pro-text_thin-italic.ttf") format("truetype");
        
    }
    
    
    @font-face {
        font-family:'SF Pro Text';
        font-style:normal;
        font-weight:300;
        src:local('☺'), url("/assets/fonts/sf-pro-text_light.woff2") format("woff2"), url("/assets/fonts/sf-pro-text_light.woff") format("woff"), url("/assets/fonts/sf-pro-text_light.ttf") format("truetype");
        
    }
    
    @font-face {
        font-family:'SF Pro Text';
        font-style:italic;
        font-weight:300;
        src:local('☺'), url("/assets/fonts/sf-pro-text_light-italic.woff2") format("woff2"), url("/assets/fonts/sf-pro-text_light-italic.woff") format("woff"), url("/assets/fonts/sf-pro-text_light-italic.ttf") format("truetype");
        
    }
    
    
    @font-face {
        font-family:'SF Pro Text';
        font-style:italic;
        font-weight:400;
        src:local('☺'), url("/assets/fonts/sf-pro-text_regular-italic.woff2") format("woff2"), url("/assets/fonts/sf-pro-text_regular-italic.woff") format("woff"), url("/assets/fonts/sf-pro-text_regular-italic.ttf") format("truetype");
        
    }
    
    @font-face {
        font-family:'SF Pro Text';
        font-style:normal;
        font-weight:500;
        src:local('☺'), url("/assets/fonts/sf-pro-text_medium.woff2") format("woff2"), url("/assets/fonts/sf-pro-text_medium.woff") format("woff"), url("/assets/fonts/sf-pro-text_medium.ttf") format("truetype");
        
    }
    
    @font-face {
        font-family:'SF Pro Text';
        font-style:italic;
        font-weight:500;
        src:local('☺'), url("/assets/fonts/sf-pro-text_medium-italic.woff2") format("woff2"), url("/assets/fonts/sf-pro-text_medium-italic.woff") format("woff"), url("/assets/fonts/sf-pro-text_medium-italic.ttf") format("truetype");
        
    }
    
    
    @font-face {
        font-family:'SF Pro Text';
        font-style:normal;
        font-weight:600;
        src:local('☺'), url("/assets/fonts/sf-pro-text_semibold.woff2") format("woff2"), url("/assets/fonts/sf-pro-text_semibold.woff") format("woff"), url("/assets/fonts/sf-pro-text_semibold.ttf") format("truetype");
        
    }
    
    @font-face {
        font-family:'SF Pro Text';
        font-style:italic;
        font-weight:600;
        src:local('☺'), url("/assets/fonts/sf-pro-text_semibold-italic.woff2") format("woff2"), url("/assets/fonts/sf-pro-text_semibold-italic.woff") format("woff"), url("/assets/fonts/sf-pro-text_semibold-italic.ttf") format("truetype");
        
    }
    

    @font-face {
        font-family:'SF Pro Text';
        font-style:normal;
        font-weight:700;
        src:local('☺'), url("/assets/fonts/sf-pro-text_bold.woff2") format("woff2"), url("/assets/fonts/sf-pro-text_bold.woff") format("woff"), url("/assets/fonts/sf-pro-text_bold.ttf") format("truetype");
        
    }
    
    @font-face {
        font-family:'SF Pro Text';
        font-style:italic;
        font-weight:700;
        src:local('☺'), url("/assets/fonts/sf-pro-text_bold-italic.woff2") format("woff2"), url("/assets/fonts/sf-pro-text_bold-italic.woff") format("woff"), url("/assets/fonts/sf-pro-text_bold-italic.ttf") format("truetype");
        
    }
    
    @font-face {
        font-family:'SF Pro Text';
        font-style:normal;
        font-weight:800;
        src:local('☺'), url("/assets/fonts/sf-pro-text_heavy.woff2") format("woff2"), url("/assets/fonts/sf-pro-text_heavy.woff") format("woff"), url("/assets/fonts/sf-pro-text_heavy.ttf") format("truetype");
        
    }
    
    @font-face {
        font-family:'SF Pro Text';
        font-style:italic;
        font-weight:800;
        src:local('☺'), url("/assets/fonts/sf-pro-text_heavy-italic.woff2") format("woff2"), url("/assets/fonts/sf-pro-text_heavy-italic.woff") format("woff"), url("/assets/fonts/sf-pro-text_heavy-italic.ttf") format("truetype");
        
    }

    
    @font-face {
        font-family:'SF Pro Text';
        font-style:normal;
        font-weight:900;
        src:local('☺'), url("/assets/fonts/sf-pro-text_black.woff2") format("woff2"), url("/assets/fonts/sf-pro-text_black.woff") format("woff"), url("/assets/fonts/sf-pro-text_black.ttf") format("truetype");
        
    }
    
    @font-face {
        font-family:'SF Pro Text';
        font-style:italic;
        font-weight:900;
        src:local('☺'), url("/assets/fonts/sf-pro-text_black-italic.woff2") format("woff2"), url("/assets/fonts/sf-pro-text_black-italic.woff") format("woff"), url("/assets/fonts/sf-pro-text_black-italic.ttf") format("truetype");
        
    }
    
    @font-face {
        font-family:'SF Pro Text';
        font-style:normal;
        font-weight:400;
        src:url('/assets/fonts/sf-pro-text_regular.eot');
        src:local('☺'), url("/assets/fonts/sf-pro-text_regular.woff2") format("woff2"), url("/assets/fonts/sf-pro-text_regular.woff") format("woff"), url("/assets/fonts/sf-pro-text_regular.ttf") format("truetype");
        
    }


    
    
    