/* Light mode */
@media (prefers-color-scheme: light) {
    body {
        color: #835A03;
    }
    .monday {
        background-color: Yellow;
    }
    .tuesday {
        background-color: Pink;
    }
    .wednesday {
        background-color: Green;
    }
    .thursday {
        background-color: Orange;
    }
    .friday {
        background-color: Blue;
    }
    .saturday {
        background-color: Purple;
    }
    .sunday {
        background-color: Red;
    }
}

/* Dark mode */
@media (prefers-color-scheme: dark) {
    body {
        background-color: #473002;
        color: #FCAD00;
    }
    .monday {
        background-color: #473002;
    }
    .tuesday {
        background-color: #473002;
    }
    .wednesday {
        background-color: #473002;
    }
    .thursday {
        background-color: #473002;
    }
    .friday {
        background-color: #473002;
    }
    .saturday {
        background-color: #473002;
    }
    .sunday {
        background-color: #473002;
    }
}

.mydiv {
    font-family: "SF Pro Display", sans-serif;
    font-weight: 200;
}

@font-face {
    font-family:'SF Pro Display';
    font-style:normal;
    font-weight:100;
    src: url("/assets/fonts/sf-pro-display_ultralight.woff2") format("woff2"), 
         url("/assets/fonts/sf-pro-display_ultralight.woff") format("woff"), 
         url("/assets/fonts/sf-pro-display_ultralight.ttf") format("truetype");
}

@font-face {
    font-family:'SF Pro Display';
    font-style:italic;
    font-weight:100;
    src: url("/assets/fonts/sf-pro-display_ultralight-italic.woff2") format("woff2"), 
         url("/assets/fonts/sf-pro-display_ultralight-italic.woff") format("woff"), 
         url("/assets/fonts/sf-pro-display_ultralight-italic.ttf") format("truetype");
}

@font-face {
    font-family:'SF Pro Display';
    font-style:normal;
    font-weight:200;
    src: url("/assets/fonts/sf-pro-display_thin.woff2") format("woff2"), 
         url("/assets/fonts/sf-pro-display_thin.woff") format("woff"), 
         url("/assets/fonts/sf-pro-display_thin.ttf") format("truetype");
}

@font-face {
    font-family:'SF Pro Display';
    font-style:italic;
    font-weight:200;
    src: url("/assets/fonts/sf-pro-display_thin-italic.woff2") format("woff2"), 
         url("/assets/fonts/sf-pro-display_thin-italic.woff") format("woff"), 
         url("/assets/fonts/sf-pro-display_thin-italic.ttf") format("truetype");
}
